.story-grid {
  display: inline-grid;
  grid-gap: 16px;
  padding: 32px;
  border-radius: 8px;
  background: white;
}

.story-grid-row {
  display: inline-grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  align-items: center;
  justify-content: flex-start;
}
