.story-grid {
  display: inline-grid;
  grid-gap: 16px;
  padding: 32px;
  border-radius: 8px;
  background: white;
}

.story-grid-row {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  align-items: center;
}

.story-grid-no-background {
  display: inline-grid;
  grid-gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
}

.inline-space-10 > * {
  margin-right: 10px;
  margin-bottom: 10px;
}

.bg-pink {
  background-color: #eb3349;
}
